body 
{
	margin: 0;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 
{
	font-weight: 600;
	line-height: 1.3;
}

dl, ol, ul 
{
	margin-bottom: 1.25rem;
}

.text-article p
{
	color: #808285;
	font-size: 14px;
	line-height: 1.8;
}

.text-article ul li,
.text-article ol li
{
	color: #808285;
	font-size: 14px;
	line-height: 1.8;
	margin-bottom: 1.2rem;
}

.text-article ul li:last-child
{
	margin-bottom: 0;
}

.text-article ul li:before 
{
	color: #F68B1E;
	content: "\f111";
	font-size: 10px;
	font-weight: 900;
	font-family: 'Font Awesome\ 5 Free' !important;
	line-height: 20px;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
}

.text-article ul.todo-list
{
	list-style: none;
}

.text-article ul.todo-list li,
.text-article ul.todo-list li.todo-list
{
	margin-bottom: 5px;
}

.text-article ul.todo-list .todo-list__label > input 
{
	-webkit-appearance: none;
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	border: 0;
	left: -25px;
	margin-right: -15px;
	right: 0;
	margin-left: 0;
}

.text-article ul.todo-list .todo-list__label > input:before 
{
	display: block;
	position: absolute;
	box-sizing: border-box;
	content: "";
	width: 100%;
	height: 100%;
	border: 1px solid #333;
	border-radius: 2px;
	transition: box-shadow .25s ease-in-out, background .25s ease-in-out, border .25s ease-in-out;
}

.text-article ul.todo-list .todo-list__label > input:after 
{
	display: block;
	position: absolute;
	box-sizing: content-box;
	pointer-events: none;
	content: "";
	left: calc(16px/3);
	top: calc(16px/5.3);
	width: calc(16px/5.3);
	height: calc(16px/2.6);
	border-left: 0 solid transparent;
	border-bottom: calc(16px/8) solid transparent;
	border-right: calc(16px/8) solid transparent;
	border-top: 0 solid transparent;
	transform: rotate(45deg)
}

.text-article ul.todo-list .todo-list__label > input[checked]:before 
{
	background: #26ab33;
	border-color: #26ab33;
}

.text-article ul.todo-list .todo-list__label > input[checked]:after 
{
	border-color: #fff;
}

.text-article ul.todo-list .todo-list__label .todo-list__label__description 
{
	vertical-align: middle;
}

[dir=rtl] .text-article ul.todo-list .todo-list__label > input 
{
	left: 0;
	margin-right: 0;
	right: -25px;
	margin-left: -15px;
}

.text-article ul.todo-list .todo-list__label > input 
{
	cursor: pointer;
}

.text-article ul.todo-list .todo-list__label > input:hover:before 
{
	box-shadow: 0 0 0 5px rgba(0, 0, 0, .1);
}

.text-tiny 
{
	font-size: .7rem;
}

.text-small 
{
	font-size: .85rem;
}

.text-big 
{
	font-size: 1.4rem;
}

.text-huge
{
	font-size: 1.8rem;
}

.text-bt-black
{
	color: #101010 !important;
}

.text-bt-grey
{
	color: #808285 !important;
}

.text-bt-orange
{
	color: #F68B1E !important;
}

.text-bt-white
{
	color: #FFFFFF !important;
}

.text-bt-grey-2
{
	color: #C4C4C4 !important;
}

.text-bt-grey-3
{
	color: #E5E5E5 !important;
}

.text-bt-black-linear
{
	color: linear-gradient(167.6deg, #101010 -9.78%, #272727 107.04%) !important;
}

.text-bt-white-linear
{
	color: linear-gradient(180deg, #F0F0F0 0%, rgba(255, 255, 255, 0) 100%) !important;
}

.bg-bt-black
{
	background: #101010;
}

.bg-bt-grey
{
	background: #808285;
}

.bg-bt-orange
{
	background: #F68B1E;
}

.bg-bt-white
{
	background: #FFFFFF;
}

.bg-bt-grey-2
{
	background: #C4C4C4;
}

.bg-bt-grey-3
{
	background: #E5E5E5;
}

.bg-bt-black-linear
{
	background: linear-gradient(167.6deg, #101010 -9.78%, #272727 107.04%);
}

.bg-bt-white-linear
{
	background: linear-gradient(180deg, #F0F0F0 0%, rgba(255, 255, 255, 0) 100%);
}

.line-height-inherit
{
	line-height: inherit !important;
}

.line-height-5
{
	line-height: 1.5 !important;
}

.line-height-6
{
	line-height: 1.6 !important;
}

.line-height-7
{
	line-height: 1.7 !important;
}

.line-height-8
{
	line-height: 1.8 !important;
}

.mw-0
{
	max-width: 0;
}

.mw-25
{
	max-width: 25%;
}

.mw-50
{
	max-width: 50%;
}

.mw-75
{
	max-width: 75%;
}

.mw-100
{
	max-width: 100%;
}

.vw-25
{
	width: 25vw;
}

.vw-50
{
	width: 50vw;
}

.vw-75
{
	width: 75vw;
}

.vh-25
{
	height: 25vh;
}

.vh-50
{
	height: 50vh;
}

.vh-75
{
	height: 75vh;
}

.opacity-0 
{
	opacity: 0;
}

.opacity-25 
{
	opacity: .25;
}

.opacity-75 
{
	opacity: .75;
}

.opacity-100 
{
	opacity: 1;
}

.font-size-inherit
{
	font-size: inherit !important;
}

.font-size-normal
{
	font-size: 14px !important;
}

.font-size-medium
{
	font-size: 16px !important;
}

.font-weight-semi-bold
{
	font-weight: 600;
}

.overflow-x
{
	overflow-x: scroll;
}

.overflow-y
{
	overflow-y: scroll;
}

.overflow-x-hidden
{
	overflow-x: hidden;
}

.overflow-y-hidden
{
	overflow-y: hidden;
}

.align-top
{
	vertical-align: top;
}

.align-middle
{
	vertical-align: middle;
}

.align-bottom
{
	vertical-align: bottom;
}

.dropdown-item.active, 
.dropdown-item:active 
{
	color: #F68B1E;
	font-weight: bold;
	background: transparent;
}

.dropdown-toggle[data-toggle="dropdown"][aria-expanded="true"]::after 
{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dropdown-toggle::after
{
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: 'Font Awesome 5 Free';
	font-weight: 700;
	content: "\f078";
	color: #F68B1E;
	transition: all .15s ease;
	border: 0;
	margin-left: 0.5em;
	vertical-align: 0.1em;
}

.breadcrumb-item + .breadcrumb-item::before 
{
	color: #F68B1E;
	content: "\f054";
	font-size: 12px;
	font-weight: 900;
	font-family: 'Font Awesome\ 5 Free' !important;
	line-height: 20px;
	display: inline-block;
	padding-left: .25rem;
	padding-right: .65rem;
}

.breadcrumb-item
{
	color: #808285;
}

.breadcrumb-item a 
{
	color: #101010;
}

.border-orange
{
	border-color: #F68B1E;
}

.btn-bt-orange
{
	color: #fff;
	background-color: #F68B1E;
	border-color: #F68B1E;
}

.btn-bt-orange:hover
{
	color: #fff;
	background-color: #dd7d1b;
	border-color: #dd7d1b;
}

.btn-bt-orange:focus, 
.btn-bt-orange.focus 
{
	color: #fff;
	background-color: #dd7d1b;
	border-color: #dd7d1b;
	box-shadow: 0 0 0 0.2rem #fde7d2;
}

.btn-bt-outline-orange
{
	color: #333;
	background-color: transparent;
	border-color: #F68B1E;
}

.btn-bt-outline-orange:hover
{
	color: #fff;
	background-color: #F68B1E;
	border-color: #F68B1E;
}

.btn-bt-outline-orange:focus, 
.btn-bt-outline-orange.focus 
{
	color: #fff;
	background-color: #F68B1E;
	border-color: #F68B1E;
	box-shadow: 0 0 0 0.2rem #fde7d2;
}

.btn-bt-outline-orange-2
{
	color: #495057;
	background-color: transparent;
	border-color: #ced4da;
}

.btn-bt-outline-orange-2:hover
{
	color: #495057;
	background-color: transparent;
	border-color: #F68B1E;
}

.btn-bt-outline-orange-2:focus, 
.btn-bt-outline-orange-2.focus 
{
	color: #495057;
	background-color: transparent;
	border-color: #F68B1E;
	box-shadow: none;
}

.subheading-ob-r
{
	color: #F68B1E;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.8;
}

.subheading-ob-r::after 
{
	content: "";
	width: 106px;
	display: inline-block;
	margin-left: .5rem;
	margin-bottom: 0.25rem;
	border: 1px solid #F68B1E;
}

.subheading-ob-lr
{
	color: #F68B1E;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.8;
}

.subheading-ob-lr::before 
{
	content: "";
	width: 127px;
	display: inline-block;
	margin-right: .5rem;
	margin-bottom: 0.25rem;
	border: 1px solid #F68B1E;
}

.subheading-ob-lr::after 
{
	content: "";
	width: 127px;
	display: inline-block;
	margin-left: .5rem;
	margin-bottom: 0.25rem;
	border: 1px solid #F68B1E;
}

.subheading-ob-lr-white
{
	color: #ffffff !important;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.8;
}

.subheading-ob-lr-white::before 
{
	content: "";
	width: 127px;
	display: inline-block;
	margin-right: .5rem;
	margin-bottom: 0.25rem;
	border: 1px solid #ffffff;
}

.subheading-ob-lr-white::after 
{
	content: "";
	width: 127px;
	display: inline-block;
	margin-left: .5rem;
	margin-bottom: 0.25rem;
	border: 1px solid #ffffff;
}

.leaflet-container
{
	font: inherit !important;
}

.leaflet-container .leaflet-control-search
{
	background: #fff !important;
	border: 1px #fff solid !important;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.leaflet-control-search input[class="search-input"]
{
	padding: .75rem;
	width: 300px !important;
	border: 0 !important;
	display: block !important;
}

.leaflet-control-search input[class="search-input"]:focus 
{
	outline: 0;
	border: 0 !important;
}

.leaflet-control-search .search-alert
{
	padding: .75rem .75rem .5rem .75rem;
}

.leaflet-popup-content-wrapper 
{
	padding: 1px;
	text-align: left;
	border-radius: 6px !important;
}

a.leaflet-popup-close-button 
{
	padding: 6px 20px 0 0 !important;
}

.img-container img,
.img-container-2 img
{
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.img-container img[lazy="loading"], 
.img-container img[lazy="error"] 
{
	width: 35px;
	height: 35px;
	max-width: 100%;
	max-height: 100%;
	opacity: 0.35;
	margin: 0;
}

/* CSS with .bt- prefix */

.bt-navbar
{
	color: #C4C4C4;
	background: linear-gradient(167.6deg, #101010 -9.78%, #272727 107.04%);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.bt-navbar .nav-link,
.bt-navbar .nav-link-alt
{
	color: #C4C4C4;
	margin: 0 .75rem;
	padding: 1.5rem .85rem !important;
}

.bt-navbar .navbar-nav .active > .nav-link, 
.bt-navbar .navbar-nav .nav-link.active, 
.bt-navbar .navbar-nav .nav-link.show, 
.bt-navbar .navbar-nav .show > .nav-link 
{
	color: #fff;
	font-weight: 600;
	border-bottom: 3px #F68B1E solid !important;
}

.bt-navbar .nav-link-alt:hover
{
	text-decoration: none;
}

.bt-navbar .nav-link:hover,
.bt-navbar .nav-link:focus
{
	color: #fff;
	border-bottom: 3px #F68B1E solid !important;
}

.bt-navbar .navbar-toggler 
{
	border: 0;
	font-size: 1rem;
	padding: .25rem .25rem;
}

.bt-card 
{
	background: #fff;
	position: relative;
}

.bt-card.active
{
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.bt-card-address
{
	min-height: 325px;
	background: #fff;
	border: 1px solid #E5E5E5;
}

.bt-card-address.active,
.bt-card-address:hover
{
	border-color: #F68B1E;
	border-bottom-width: 5px;
	box-shadow: 0px 8px 16px rgba(246, 139, 30, 0.25);
}

.bt-collapse[data-toggle="collapse"][aria-expanded="true"]::after 
{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.bt-collapse[data-toggle="collapse"]::after
{
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: 'Font Awesome 5 Free';
	font-weight: 700;
	content: "\f078";
	float: right;
	color: #F68B1E;
	transition: all .15s ease;
}

.bt-collapse-alt[data-toggle="collapse"][aria-expanded="true"]::after 
{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.bt-collapse-alt[data-toggle="collapse"]::after 
{
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: 'Font Awesome 5 Free';
	font-weight: 700;
	content: "\f078";
	float: right;
	color: #495057;
	transition: all .15s ease;
}

.bt-promotion-section .bt-apps-download
{
	width: 100%;
	background-size: cover;
	background-origin: content-box;
	background-position: center 0%;
	background-repeat: no-repeat;
}

.bt-notfound-page
{
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: #F7F8FA;
}

.bt-notfound-page::before
{
	content: "";
	filter: invert(0);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-origin: content-box;
	background-position: center 0%;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}

.bt-bg-illustration
{
	z-index: 2;
	position: relative;
}

.bt-bg-illustration::before
{
	content: "";
	filter: invert(0);
	width: 65px;
	height: 75px;
	background-size: auto;
	background-origin: content-box;
	background-position: center 0%;
	background-repeat: no-repeat;
	bottom: 0;
	right: 0;
	position: absolute;
	-webkit-animation: updown 1s infinite  alternate;
	animation: updown 1s infinite  alternate;
}

.bt-pagination .page-link
{
	border: 0;
	color: #808285;
	margin-left: .5rem;
	padding: .5rem .85rem;
	background-color: transparent;
}

.bt-pagination .page-link:hover,
.bt-pagination .page-link:focus 
{
	z-index: 2;
	color: #fff;
	text-decoration: none;
	background-color: #F68B1E;
	border-color: #F68B1E;
	border-radius: 5px;
	box-shadow: none;
}

.bt-pagination .page-item.active .page-link 
{
	z-index: 3;
	color: #fff;
	background-color: #F68B1E;
	border-color: #F68B1E;
	border-radius: 5px;
}

.bt-pagination .page-item:first-child .page-link 
{
	margin-left: 0;
}

.bt-pagination .page-item:first-child .page-link, 
.bt-pagination .page-item:last-child .page-link 
{
	color: #C4C4C4;
}

.bt-pagination .page-item:first-child .page-link:hover,
.bt-pagination .page-item:first-child .page-link:focus,
.bt-pagination .page-item:last-child .page-link:hover,
.bt-pagination .page-item:last-child .page-link:focus
{
	color: #F68B1E;
	background-color: transparent;
	border-color: transparent;
}

.bt-slider
{
	position: relative;
}

.bt-slider .uk-dotnav
{
	z-index: 1;
	bottom: 50px;
	position: relative;
}

.bt-slider .uk-dotnav > .uk-active > * 
{
	opacity: 1;
	background-color: #F68B1E;
}

.bt-slider .uk-dotnav > * > *
{
	width: 12px;
	height: 12px;
	border-color: transparent;
	background: #D9DBE1;
	opacity: 0.2;
}

.bt-slideshow,
.bt-image-w-overlay,
.bt-coverimage-w-overlay
{
	position: relative;
}

.bt-slideshow::after,
.bt-image-w-overlay::after 
{
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(35.45deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
}

.bt-coverimage-w-overlay::after 
{
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(35.45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.bt-image-w-overlay .caption
{
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.bt-promo-app
{
	width: 100%;
	background-size: cover;
	background-origin: content-box;
	background-position: center 0%;
	background-repeat: no-repeat;
}

.bt-footer::before
{
	content: '';
	width: 40%;
	height: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	background: url('/assets/images/eclipse_1.svg') no-repeat;
	background-position: bottom;
	background-size: contain; 
}

.bt-footer::after
{
	content: '';
	width: 25%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	background: url('/assets/images/eclipse_2.svg') no-repeat;
	background-position: top right;
	background-size: contain; 
}

.bt-overlay 
{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	content: '';
	display: none;
	animation: fadein 1s;
	-moz-animation: fadein 1s;
	-webkit-animation: fadein 1s;
	-o-animation: fadein 1s;
}

.bt-loader
{
	position: relative;
	margin: 50px;
	width: 90px;
	height: 90px;
}

.bt-loader .bt-loading 
{
	display: inline-block;
	width: 100%;
	height: 100%;
	border: 5px solid #EEEEEE;
	border-radius: 50%;
	border-top-color: #F68B1E;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
	box-sizing: border-box;
}

.bt-loader .text
{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:20px;
}

.bt-alert
{
	top: 4.36rem;
	right: -.25rem;
	width: 350px;
	z-index: 102 !important;
}

#bt-btn-totop 
{
	display: inline-block;
	background-color: #F68B1E;
	width: 50px;
	height: 50px;
	text-align: center;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	position: fixed;
	bottom: 30px;
	right: 0;
	transition: background-color .3s, 
	opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

#bt-btn-totop::after 
{
	color: #ffffff;
	content: "\f062";
	font-size: 1.2rem;
	font-weight: 900;
	font-family: 'Font Awesome 5 Free' !important;
	line-height: 50px;
	display: inline-block;
}

#bt-btn-totop:hover 
{
	cursor: pointer;
	background-color: #F68B1E;
}

#bt-btn-totop:active 
{
	background-color: #F68B1E;
}

#bt-btn-totop.show 
{
	opacity: 1;
	visibility: visible;
}

/* End of CSS with .bt-prefix */

@keyframes spin 
{
	to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spin 
{
	to { -webkit-transform: rotate(360deg); }
}

@keyframes move 
{
	25% 
	{
		opacity: 1;
	}
	33% 
	{
		opacity: 1;
		transform: translateY(30px);
	}
	67% 
	{
		opacity: 1;
		transform: translateY(40px);
	}
	100% 
	{
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

@keyframes pulse 
{
	to 
	{
		opacity: 1;
	}
}

@-webkit-keyframes updown 
{
	0% 
	{
		transform: translateY(0); 
	}
	100% 
	{ 
		transform: translateY(-10px); 
	}
}

@keyframes updown 
{
	0% 
	{
		transform: translateY(0); 
	}
	100% 
	{ 
		transform: translateY(-10px); 
	}
}

@keyframes fadein 
{
	from 
	{
		opacity:0;
	}
	
	to 
	{
		opacity:1;
	}
}

/* Firefox */
@-moz-keyframes fadein 
{
	from 
	{
		opacity:0;
	}
	
	to 
	{
		opacity:1;
	}
}

/* Safari and Chrome */
@-webkit-keyframes fadein 
{
	from 
	{
		opacity:0;
	}

	to 
	{
		opacity:1;
	}
}

/* Opera */
@-o-keyframes fadein 
{
	from 
	{
		opacity:0;
	}
	
	to 
	{
		opacity: 1;
	}
}

@media (min-width: 359.98px) and (max-width: 413.98px)
{
	/* CSS with .bt- prefix */

	.img-container
	{
		height: 360px !important;
	}

	.bt-promo-app
	{
		height: 591px !important;
	}

	/* End of CSS with .bt-prefix */
}

@media (min-width: 374.98px) and (max-width: 413.98px)
{
	/* CSS with .bt- prefix */

	.img-container
	{
		height: 375px !important;
	}

	.bt-promo-app
	{
		height: 617px !important;
	}

	/* End of CSS with .bt-prefix */
}

@media (max-width: 575.98px)
{
	h1, .h1 
	{
		font-size: 2rem;
	}

	h2, .h2 
	{
		font-size: 1.75rem;
	}

	h3, .h3 
	{
		font-size: 1.5rem;
	}

	h4, .h4 
	{
		font-size: 1.25rem;
	}

	h5, .h5 
	{
		font-size: 1rem;
	}

	h6, .h6 
	{
		font-size: .875rem;
	}

	.text-article p
	{
		font-size: .9rem;
		line-height: 1.9;
	}

	.text-article ul
	{
		padding-left: 1.6rem;
	}

	.text-article ul li,
	.text-article ol li
	{
		font-size: .9rem;
		line-height: 1.9;
	}

	.leaflet-control-search input[class="search-input"]
	{
		width: 225px !important;
	}

	.leaflet-control-zoom 
	{
		margin-top: 407px !important;
	}

	.img-container
	{
		height: 414px;
	}

	/* CSS with .bt- prefix */

	.bt-parent-container 
	{
		margin-top: 4rem;
	}

	.bt-container-mobile
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.bt-navbar
	{
		padding: 0;
	}

	.bt-navbar .navbar-brand img 
	{
		width: 120px;
	}

	.bt-navbar .navbar-for-mobile
	{
		width: 100%;
		padding: .75rem 1rem;
		display: flex !important;
		display: -ms-flexbox !important;
		justify-content: space-between !important;
				-ms-flex-pack: justify !important;
	}

	.bt-navbar .navbar-toggler-icon-open
	{
		animation: fadein .15s;
		-moz-animation: fadein .15s;
		-webkit-animation: fadein .15s;
		-o-animation: fadein .15s;
	}

	.bt-navbar .navbar-toggler-icon-close
	{
		display: none;
		animation: fadein .15s;
		-moz-animation: fadein .15s;
		-webkit-animation: fadein .15s;
		-o-animation: fadein .15s;
	}

	.bt-navbar .nav-link,
	.bt-navbar .nav-link-alt
	{
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: 1.15rem .75rem !important;
	}

	.bt-navbar .nav-link:hover,
	.bt-navbar .nav-link:focus
	{
		background: rgba(246, 139, 30, 0.1);
		border-bottom: 0 !important;
		border-left: 3px #F68B1E solid !important;
	}

	.bt-navbar .navbar-nav .active > .nav-link, 
	.bt-navbar .navbar-nav .nav-link.active, 
	.bt-navbar .navbar-nav .nav-link.show, 
	.bt-navbar .navbar-nav .show > .nav-link 
	{
		background: rgba(246, 139, 30, 0.1);
		border-bottom: 0 !important;
		border-left: 3px #F68B1E solid !important;
	}

	.bt-navbar .navbar-collapse
	{
		background: #101010;
	}

	.bt-nav-category-container
	{
		top: 64px;
	}

	.bt-nav-category div a
	{
		font-size: 13px;
	}

	.bt-nav-category div a > img
	{
		width: 28px !important;
		height: 28px !important;
	}

	.bt-list-product .col-6:nth-child(2n+2) 
	{
		padding-left: 0;
	}

	.bt-promo-app
	{
		height: 691px;
		background-image: url('/assets/images/image_phone_home_mobile_sec5.svg');
	}

	.bt-bg-illustration::before
	{
		top: 62%;
		left: 40%;
	}

	.bt-alert
	{
		position: relative !important;
		top: 0;
		left: 0;
		right: 0;
		width: inherit;
		max-width: 100% !important;
		z-index: 102 !important;
		margin: 0 0 2rem 0 !important;
	}

	#bt-item
	{
		padding-top: 11rem;
		margin-top: -11rem;
	}

	/* End of CSS with .bt-prefix */

	.subheading-ob-lr
	{
		color: #F68B1E;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.8;
	}

	.subheading-ob-lr::before 
	{
		content: "";
		width: 70px;
		display: inline-block;
		margin-right: .5rem;
		margin-bottom: 0.25rem;
		border: 1px solid #F68B1E;
	}

	.subheading-ob-lr::after 
	{
		content: "";
		width: 70px;
		display: inline-block;
		margin-left: .5rem;
		margin-bottom: 0.25rem;
		border: 1px solid #F68B1E;
	}

	.subheading-ob-lr-white
	{
		color: #ffffff !important;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.8;
	}

	.subheading-ob-lr-white::before 
	{
		content: "";
		width: 70px;
		display: inline-block;
		margin-right: .5rem;
		margin-bottom: 0.25rem;
		border: 1px solid #ffffff;
	}

	.subheading-ob-lr-white::after 
	{
		content: "";
		width: 70px;
		display: inline-block;
		margin-left: .5rem;
		margin-bottom: 0.25rem;
		border: 1px solid #ffffff;
	}

	.subheading-ob-r
	{
		color: #F68B1E;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.8;
	}

	.subheading-ob-r::after 
	{
		content: "";
		width: 70px;
		display: inline-block;
		margin-left: .5rem;
		margin-bottom: 0.25rem;
		border: 1px solid #F68B1E;
	}
}

@media (min-width: 576px) and (max-width: 767.98px)
{
	.text-article p
	{
		font-size: .9rem;
		line-height: 1.9;
	}

	.text-article ul
	{
		padding-left: 1.6rem;
	}

	.text-article ul li,
	.text-article ol li
	{
		font-size: .9rem;
		line-height: 1.9;
	}
}

@media (min-width: 576px)
{
	.mw-sm-0
	{
		max-width: 0;
	}

	.mw-sm-25
	{
		max-width: 25%;
	}

	.mw-sm-50
	{
		max-width: 50%;
	}

	.mw-sm-75
	{
		max-width: 75%;
	}

	.mw-sm-100
	{
		max-width: 100%;
	}

	.vw-sm-25
	{
		width: 25vw;
	}

	.vw-sm-50
	{
		width: 50vw;
	}

	.vw-sm-75
	{
		width: 75vw;
	}

	.vw-sm-100
	{
		width: 100vw;
	}

	.vh-sm-25
	{
		height: 25vh;
	}

	.vh-sm-50
	{
		height: 50vh;
	}

	.vh-sm-75
	{
		height: 75vh;
	}

	.vh-sm-100
	{
		height: 100vh;
	}

	.border-top-sm-0
	{
		border-top: 0 !important;
	}

	.border-left-sm-0
	{
		border-left: 0 !important;
	}

	.border-bottom-sm-0
	{
		border-bottom: 0 !important;
	}

	.border-right-sm-0
	{
		border-right: 0 !important;
	}

	.opacity-sm-0 
	{
		opacity: 0;
	}
	
	.opacity-sm-25 
	{
		opacity: .25;
	}
	
	.opacity-sm-75 
	{
		opacity: .75;
	}
	
	.opacity-sm-100 
	{
		opacity: 1;
	}

	.overflow-sm-x
	{
		overflow-x: scroll;
	}

	.overflow-sm-y
	{
		overflow-y: scroll;
	}

	.overflow-sm-x-hidden
	{
		overflow-x: hidden;
	}

	.overflow-sm-y-hidden
	{
		overflow-y: hidden;
	}

	/* CSS with .bt- prefix */

	.bt-promo-app
	{
		height: 916px;
		background-image: url('/assets/images/image_phone_home_mobile_sec5.svg');
	}

	/* End of CSS with .bt-prefix */
}

@media (min-width: 768px)
{
	.mw-md-0
	{
		max-width: 0;
	}

	.mw-md-25
	{
		max-width: 25%;
	}

	.mw-md-50
	{
		max-width: 50%;
	}

	.mw-md-75
	{
		max-width: 75%;
	}

	.mw-md-100
	{
		max-width: 100%;
	}

	.vw-md-25
	{
		width: 25vw;
	}

	.vw-md-50
	{
		width: 50vw;
	}

	.vw-md-75
	{
		width: 75vw;
	}

	.vw-md-100
	{
		width: 100vw;
	}

	.vh-md-25
	{
		height: 25vh;
	}

	.vh-md-50
	{
		height: 50vh;
	}

	.vh-md-75
	{
		height: 75vh;
	}

	.vh-md-100
	{
		height: 100vh;
	}

	.border-top-md-0
	{
		border-top: 0 !important;
	}

	.border-left-md-0
	{
		border-left: 0 !important;
	}

	.border-bottom-md-0
	{
		border-bottom: 0 !important;
	}

	.border-right-md-0
	{
		border-right: 0 !important;
	}

	.opacity-md-0 
	{
		opacity: 0;
	}
	
	.opacity-md-25 
	{
		opacity: .25;
	}
	
	.opacity-md-75 
	{
		opacity: .75;
	}
	
	.opacity-md-100 
	{
		opacity: 1;
	}

	.overflow-md-x
	{
		overflow-x: scroll;
	}

	.overflow-md-y
	{
		overflow-y: scroll;
	}

	.overflow-md-x-hidden
	{
		overflow-x: hidden;
	}

	.overflow-md-y-hidden
	{
		overflow-y: hidden;
	}

	.img-container
	{
		height: 132px;
	}

	/* CSS with .bt- prefix */

	.bt-parent-container 
	{
		margin-top: 3.6rem;
	}

	.bt-nav-category-container
	{
		top: 58px;
	}

	.bt-promo-app
	{
		height: 251px;
		background-image: url('/assets/images/image_phone_home_sec5.jpg');
	}

	.bt-bg-illustration::before
	{
		top: 62.5%;
		left: 41%;
	}

	/* End of CSS with .bt-prefix */
}

@media (min-width: 768px) and (max-width: 991.98px)
{
	/* CSS with .bt- prefix */

	.bt-navbar
	{
		padding: 0;
	}

	.bt-navbar .navbar-for-mobile
	{
		width: 100%;
		padding: .5rem 1rem;
		display: flex !important;
		display: -ms-flexbox !important;
		justify-content: space-between !important;
				-ms-flex-pack: justify !important;
	}

	.bt-navbar .navbar-toggler-icon-open
	{
		animation: fadein .15s;
		-moz-animation: fadein .15s;
		-webkit-animation: fadein .15s;
		-o-animation: fadein .15s;
	}

	.bt-navbar .navbar-toggler-icon-close
	{
		display: none;
		animation: fadein .15s;
		-moz-animation: fadein .15s;
		-webkit-animation: fadein .15s;
		-o-animation: fadein .15s;
	}

	.bt-navbar .nav-link,
	.bt-navbar .nav-link-alt
	{
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: 1.15rem .75rem !important;
	}

	.bt-navbar .nav-link:hover,
	.bt-navbar .nav-link:focus
	{
		background: rgba(246, 139, 30, 0.1);
		border-bottom: 0 !important;
		border-left: 3px #F68B1E solid !important;
	}

	.bt-navbar .navbar-nav .active > .nav-link, 
	.bt-navbar .navbar-nav .nav-link.active, 
	.bt-navbar .navbar-nav .nav-link.show, 
	.bt-navbar .navbar-nav .show > .nav-link 
	{
		background: rgba(246, 139, 30, 0.1);
		border-bottom: 0 !important;
		border-left: 3px #F68B1E solid !important;
	}

	.bt-promo-app
	{
		height: 251px;
		background-image: url('/assets/images/image_phone_home_sec5.jpg');
	}

	.bt-bg-illustration::before
	{
		top: 62.5%;
		left: 41%;
	}

	/* End of CSS with .bt-prefix */
}

@media (min-width: 992px)
{
	.mw-lg-0
	{
		max-width: 0;
	}

	.mw-lg-25
	{
		max-width: 25%;
	}

	.mw-lg-50
	{
		max-width: 50%;
	}

	.mw-lg-75
	{
		max-width: 75%;
	}

	.mw-lg-100
	{
		max-width: 100%;
	}

	.vw-lg-25
	{
		width: 25vw;
	}

	.vw-lg-50
	{
		width: 50vw;
	}

	.vw-lg-75
	{
		width: 75vw;
	}

	.vw-lg-100
	{
		width: 100vw;
	}

	.vh-lg-25
	{
		height: 25vh;
	}

	.vh-lg-50
	{
		height: 50vh;
	}

	.vh-lg-75
	{
		height: 75vh;
	}

	.vh-lg-100
	{
		height: 100vh;
	}

	.border-top-lg-0
	{
		border-top: 0 !important;
	}

	.border-left-lg-0
	{
		border-left: 0 !important;
	}

	.border-bottom-lg-0
	{
		border-bottom: 0 !important;
	}

	.border-right-lg-0
	{
		border-right: 0 !important;
	}

	.opacity-lg-0 
	{
		opacity: 0;
	}
	
	.opacity-lg-25 
	{
		opacity: .25;
	}
	
	.opacity-lg-75 
	{
		opacity: .75;
	}
	
	.opacity-lg-100 
	{
		opacity: 1;
	}

	.overflow-lg-x
	{
		overflow-x: scroll;
	}

	.overflow-lg-y
	{
		overflow-y: scroll;
	}

	.overflow-lg-x-hidden
	{
		overflow-x: hidden;
	}

	.overflow-lg-y-hidden
	{
		overflow-y: hidden;
	}

	.img-container
	{
		height: 192px;
	}

	/* CSS with .bt- prefix */

	.bt-parent-container
	{
		margin-top: 4.5rem;
	}

	.bt-nav-category-container
	{
		top: 72px;
	}

	.bt-card:hover .bt-short-desc 
	{
		display: block !important;
		animation: fadein .5s;
		-moz-animation: fadein .5s;
		-webkit-animation: fadein .5s;
		-o-animation: fadein .5s;
	}

	.bt-modal
	{
		max-width: 1024px;
	}

	.bt-promo-app
	{
		height: 338px;
		background-image: url('/assets/images/image_phone_home_sec5.jpg');
	}

	/* End of CSS with .bt-prefix */
}

@media (max-width: 1199.98px)
{
	/* CSS with .bt- prefix */

	/*
	.bt-navbar
	{
		padding: 0;
	}

	.bt-navbar .navbar-for-mobile
	{
		width: 100%;
		padding: .5rem 1rem;
		display: flex !important;
		display: -ms-flexbox !important;
		justify-content: space-between !important;
				-ms-flex-pack: justify !important;
	}

	.bt-navbar .navbar-toggler-icon-open
	{
		animation: fadein 1s;
		-moz-animation: fadein 1s;
		-webkit-animation: fadein 1s;
		-o-animation: fadein 1s;
	}

	.bt-navbar .navbar-toggler-icon-close
	{
		display: none;
		animation: fadein 1s;
		-moz-animation: fadein 1s;
		-webkit-animation: fadein 1s;
		-o-animation: fadein 1s
	}

	.bt-navbar .nav-link,
	.bt-navbar .nav-link-alt
	{
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: 1.15rem .75rem !important;
	}

	.bt-navbar .nav-link:hover,
	.bt-navbar .nav-link:focus
	{
		background: rgba(246, 139, 30, 0.1);
		border-bottom: 0 !important;
		border-left: 3px #F68B1E solid !important;
	}

	.bt-navbar .navbar-nav .active > .nav-link, 
	.bt-navbar .navbar-nav .nav-link.active, 
	.bt-navbar .navbar-nav .nav-link.show, 
	.bt-navbar .navbar-nav .show > .nav-link 
	{
		background: rgba(246, 139, 30, 0.1);
		border-bottom: 0 !important;
		border-left: 3px #F68B1E solid !important;
	}
	*/

	.bt-nav-category
	{
		overflow-x: scroll;
	}

	/* End of CSS with .bt-prefix */
}

@media (min-width: 1200px)
{
	.mw-xl-0
	{
		max-width: 0;
	}

	.mw-xl-25
	{
		max-width: 25%;
	}

	.mw-xl-50
	{
		max-width: 50%;
	}

	.mw-xl-75
	{
		max-width: 75%;
	}

	.mw-xl-100
	{
		max-width: 100%;
	}

	.vw-xl-25
	{
		width: 25vw;
	}

	.vw-xl-50
	{
		width: 50vw;
	}

	.vw-xl-75
	{
		width: 75vw;
	}

	.vw-xl-100
	{
		width: 100vw;
	}

	.vh-xl-25
	{
		height: 25vh;
	}

	.vh-xl-50
	{
		height: 50vh;
	}

	.vh-xl-75
	{
		height: 75vh;
	}

	.vh-xl-100
	{
		height: 100vh;
	}

	.border-top-xl-0
	{
		border-top: 0 !important;
	}

	.border-left-xl-0
	{
		border-left: 0 !important;
	}

	.border-bottom-xl-0
	{
		border-bottom: 0 !important;
	}

	.border-right-xl-0
	{
		border-right: 0 !important;
	}

	.opacity-xl-0 
	{
		opacity: 0;
	}
	
	.opacity-xl-25 
	{
		opacity: .25;
	}
	
	.opacity-xl-75 
	{
		opacity: .75;
	}
	
	.opacity-xl-100 
	{
		opacity: 1;
	}

	.overflow-xl-x
	{
		overflow-x: scroll;
	}

	.overflow-xl-y
	{
		overflow-y: scroll;
	}

	.overflow-xl-x-hidden
	{
		overflow-x: hidden;
	}

	.overflow-xl-y-hidden
	{
		overflow-y: hidden;
	}

	.img-container
	{
		height: 235px;
	}

	.img-container-2
	{
		height: 400px;
	}

	/* CSS with .bt- prefix */

	.bt-promo-app
	{
		height: 404px;
		background-image: url('/assets/images/image_phone_home_sec5.jpg');
	}

	.bt-nav-category-container
	{
		top: 72px;
	}

	#bt-item
	{
		padding-top: 12.5rem;
		margin-top: -12.5rem;
	}

	/* End of CSS with .bt-prefix */
}

@media (min-width: 1400px)
{
	.mw-xxl-0
	{
		max-width: 0;
	}

	.mw-xxl-25
	{
		max-width: 25%;
	}

	.mw-xxl-50
	{
		max-width: 50%;
	}

	.mw-xxl-75
	{
		max-width: 75%;
	}

	.mw-xxl-100
	{
		max-width: 100%;
	}

	.vw-xxl-25
	{
		width: 25vw;
	}

	.vw-xxl-50
	{
		width: 50vw;
	}

	.vw-xxl-75
	{
		width: 75vw;
	}

	.vw-xxl-100
	{
		width: 100vw;
	}

	.vh-xxl-25
	{
		height: 25vh;
	}

	.vh-xxl-50
	{
		height: 50vh;
	}
	
	.vh-xxl-75
	{
		height: 75vh;
	}

	.vh-xxl-100
	{
		height: 100vh;
	}

	.border-top-xxl-0
	{
		border-top: 0 !important;
	}

	.border-left-xxl-0
	{
		border-left: 0 !important;
	}

	.border-bottom-xxl-0
	{
		border-bottom: 0 !important;
	}

	.border-right-xxl-0
	{
		border-right: 0 !important;
	}

	.opacity-xxl-0 
	{
		opacity: 0;
	}
	
	.opacity-xxl-25 
	{
		opacity: .25;
	}
	
	.opacity-xxl-75 
	{
		opacity: .75;
	}
	
	.opacity-xxl-100 
	{
		opacity: 1;
	}

	.overflow-xxl-x
	{
		overflow-x: scroll;
	}

	.overflow-xxl-y
	{
		overflow-y: scroll;
	}

	.overflow-xxl-x-hidden
	{
		overflow-x: hidden;
	}

	.overflow-xxl-y-hidden
	{
		overflow-y: hidden;
	}
}